@model IEnumerable<Candidates.Models.Candidate>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>
    @using (Html.BeginForm("SearchCandidates", "Candidates",FormMethod.Get))
    {
        <b>Search by:</b> @Html.RadioButton("searchBy", "FirstName") <text>FirstName</text>
                          @Html.RadioButton("searchBy", "LastName") <text>LastName</text>
                          @Html.RadioButton("searchBy", "JMGB") <text>JMGB</text> <br />
                          @Html.TextBox("search") <input type=submit value="Search" />
    }

</p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JMGB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MobilePhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.employed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.changes)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.JMGB)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MobilePhone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Note)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.employed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.changes)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id })
                </td>
            </tr>
        }

    </table>
